<h1>All Tags</h1>

<% @tags.each do |tag| %>
  <li>
    <%= link_to tag.name, tag_path(tag) %>
    <% if logged_in? %>
      <%= link_to "delete", tag_path(tag), method: :delete,
                data: { confirm: "Delete this tag?" } %>
    <% end %>
  </li>
<% end %>


<br>
<%= link_to "Home", articles_path %>