<h1>All Tags</h1>
<% @tags.each do |tag| %>
  <li>
    <%= link_to tag.name, tag_path(tag) %>
    <%= link_to "delete", tag_path(tag), method: :delete,
                data: { confirm: "Delete this tag?" } %>
  </li>
<% end %>

